* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(199, 166, 234);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    margin:0px auto;
    
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: rgb(73, 8, 133);
    background-color: rgb(241, 236, 247);
}

#reset-button {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(73, 8, 133);
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-game {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(73, 8, 133);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: rgb(31, 5, 54);
    font-size: 7vmin;
}
.msg-container {
    height: 10vmin;
}
.hide {
    display: none;
    /* visibility: hidden; */
}
